@{
    ViewBag.Title = "About";
    int Result = ViewBag.num1 * 3;
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

The Random Number is @ViewBag.num1
<br />
The Random Number * 3 is @Result

<p>Use this area to provide additional information.</p>
